## Verification

This stage is applicable only if required biometrics are not present in the packet as per country configuration.
* Sends applicant's demographic  documents (via Queue + Datashare) to external Verification System (VS).
* Receives decision from VS and accordingly forwards the packets.
* If rejected, notifies the applicant.
