# Test Report

## Testing Scope

The scope of testing is to verify fitment to the specification from the perspective of the following functions:

●     Functionality&#x20;

●     Deployability&#x20;

●     Configurability&#x20;

●     Customizability

Verification is performed not only from the end user perspective but also from the System Integrator (SI) point of view. Hence Configurability and Extensibility of the software is also assessed. This ensures readiness of software for use in multiple countries. Since MOSIP is an “API First” product platform.

**Testing scope has been focused around the below features:**

●     Inji Verify Home page

●     Verify Scan Feature

●     Verify Upload Feature

Below are the combinations that QA verified and Certified Inji Verify:

**Upload feature Verification:**

1. Windows using Edge, Firefox and Chrome browsers.
2. MAC using Safari browser.

**Scan functionality Verification:**

1. MAC (Laptop) with a front camera of 2 megapixel and Safari browser.
2. Mobile phone Android with front camera 16 megapixel using browsers Chrome.
3. Mobile phone Android with front camera 8 megapixel using browsers Chrome.
4. iPhone with 12 megapixel front camera using Safari browser.

{% hint style="info" %}
Note: Unable to verify Scan functionality in windows.
{% endhint %}

## Test Approach <a href="#id-2et92p0" id="id-2et92p0"></a>

Persona based approach has been adopted to perform the IV\&V, by simulating test scenarios that resemble a real-time implementation.

A Persona is a fictional character/user profile created to represent a user type that might use a product/or a service in a similar way. Persona based testing is a software testing technique that puts software testers in the customer's shoes, assesses their needs from the software and thereby determines use cases/scenarios that the customers will execute. The persona needs may be addressed through any of the following functions.

●     Functionality&#x20;

●     Deployability&#x20;

●     Configurability&#x20;

●     Customizability

The verification methods may differ based on how the need was addressed.

## Verified configuration <a href="#tyjcwt" id="tyjcwt"></a>

Verification is performed on various configurations as mentioned below

&#x20;    ●        Default configuration - with 1 language which is **English**.

## Feature Health <a href="#id-1t3h5sf" id="id-1t3h5sf"></a>

<figure><img src="../../../.gitbook/assets/image.png" alt=""><figcaption></figcaption></figure>

## Test execution statistics <a href="#id-4d34og8" id="id-4d34og8"></a>

### Functional test results <a href="#id-2s8eyo1" id="id-2s8eyo1"></a>

Below are the test metrics by performing functional testing. The process followed was black box testing which based its test cases on the specifications of the software component under test. The functional test was performed in combination with individual module testing as well as integration testing. Test data were prepared in line with the user stories. Expected results were monitored by examining the user interface. The coverage includes GUI testing, System testing, End-To-End flows across multiple configurations. The testing cycle included the simulation of multiple identity schema and respective UI schema configurations.

<table><thead><tr><th width="330">Total</th><th>Passed</th><th>Failed</th><th>Skipped</th></tr></thead><tbody><tr><td>104</td><td>68</td><td>33</td><td>3</td></tr><tr><td>Test Rate: 97%, With Pass Rate: 67%</td><td></td><td></td><td></td></tr></tbody></table>

Here is the detailed breakdown of metrics for each module:

|                |         | Test cases |
| -------------- | ------- | ---------- |
| Inji Verify UI | Total   | 104        |
|                | Passed  | 68         |
|                | Failed  | 33         |
|                | Skipped | 3          |

### Detailed Test metrics <a href="#id-26in1rg" id="id-26in1rg"></a>

Below are the detailed test metrics by performing manual/automation testing. The project metrics are derived from Defect density, Test coverage, Test execution coverage, test tracking, and efficiency.

The various metrics that assist in test tracking and efficiency are as follows:

●  Passed Test Cases Coverage: It measures the percentage of passed test cases. (Number of passed tests / Total number of tests executed) x 100.

●  Failed Test Case Coverage: It measures the percentage of all the failed test cases. (Number of failed tests / Total number of test cases executed) x 100.

Inji-Verify 0.8.0 - Verification - Report
