{
  "openapi": "3.0.1",
  "info": {
    "title": "Credential Store",
    "description": "Credential Store",
    "license": {
      "name": "Mosip",
      "url": "https://docs.mosip.io/platform/license"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://dev2.mosip.net/v1/credentialservice/",
      "description": "Credential Store"
    }
  ],
  "tags": [
    {
      "name": "Credential Store",
      "description": "Credential Store Controller"
    }
  ],
  "paths": {
    "/types": {
      "get": {
        "tags": [
          "Credential Store"
        ],
        "summary": "get the credential types",
        "description": "get the credential types",
        "operationId": "getCredentialTypes",
        "responses": {
          "200": {
            "description": "get the credential types successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CredentialTypeResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unable get the credential types"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/issue": {
      "post": {
        "tags": [
          "Credential Store"
        ],
        "summary": "create credential",
        "description": "create credential",
        "operationId": "credentialIssue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialServiceRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "create credential successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CredentialServiceResponseDto"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Unable to create credential"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CredentialTypeResponse": {
        "type": "object",
        "properties": {
          "credentialTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            }
          }
        }
      },
      "Issuer": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Type": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "issuers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issuer"
            }
          }
        }
      },
      "CredentialServiceRequestDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "credentialType": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "issuer": {
            "type": "string"
          },
          "recepiant": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "encrypt": {
            "type": "boolean"
          },
          "encryptionKey": {
            "type": "string"
          },
          "sharableAttributes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additionalData": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "CredentialServiceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "credentialId": {
            "type": "string"
          },
          "issuanceDate": {
            "type": "string",
            "format": "date-time"
          },
          "signature": {
            "type": "string"
          },
          "dataShareUrl": {
            "type": "string"
          }
        }
      },
      "CredentialServiceResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/CredentialServiceResponse"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDTO"
            }
          }
        }
      },
      "ErrorDTO": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}