{
  "openapi": "3.0.1",
  "info": {
    "title": "Pre-Registration-Booking",
    "description": "Pre-Registration-Booking Service",
    "license": {
      "name": "Mosip",
      "url": "https://docs.mosip.io/platform/license"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://dev2.mosip.net/preregistration/v1",
      "description": "Pre-Registration-Booking Service"
    }
  ],
  "tags": [
    {
      "name": "booking-controller",
      "description": "Booking Controller"
    }
  ],
  "paths": {
    "/batch/appointment/{preRegistrationId}": {
      "put": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Cancel an booked appointment",
        "description": "Cancel an booked appointment",
        "operationId": "cancelAppointmentBatch",
        "parameters": [
          {
            "name": "preRegistrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment canceled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOCancelBookingResponseDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/appointment": {
      "post": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Booking Appointment",
        "description": "Booking Appointment",
        "operationId": "bookMultiAppoinment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MainRequestDTOMultiBookingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Appointment Booked Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOBookingStatus"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Discard Booking",
        "description": "Discard Booking",
        "operationId": "discardIndividual",
        "parameters": [
          {
            "name": "preRegistrationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion of Booking is successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTODeleteBookingDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTODeleteBookingDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/appointment/{preRegistrationId}": {
      "get": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Fetch Appointment details",
        "description": "Fetch Appointment details",
        "operationId": "getAppointments",
        "parameters": [
          {
            "name": "preRegistrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment details fetched Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOBookingRegistrationDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Cancel an booked appointment",
        "description": "Cancel an booked appointment",
        "operationId": "cancelBook",
        "parameters": [
          {
            "name": "preRegistrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment canceled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOCancelBookingResponseDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Booking Appointment",
        "description": "Booking Appointment",
        "operationId": "bookAppoinment",
        "parameters": [
          {
            "name": "preRegistrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MainRequestDTOBookingRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Appointment Booked Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOBookingStatusDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/appointment/registrationCenterId/{registrationCenterId}": {
      "get": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Get Pre-Registartion ids By Booked Date Time And Registration center id",
        "description": "Get Pre-Registartion ids By Booked Date Time And Registration center id",
        "operationId": "getBookedDataByRegId",
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registrationCenterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booked data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOBookingDataByRegIdDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/appointment/preRegistrationId/{registrationCenterId}": {
      "get": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Get Pre-Registartion ids By Booked Date Time And Registration center id",
        "description": "Get Pre-Registartion ids By Booked Date Time And Registration center id",
        "operationId": "getBookedDataByDate",
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registrationCenterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booked data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOPreRegIdsByRegCenterIdResponseDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/appointment/availability/{registrationCenterId}": {
      "get": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Fetch availability Data",
        "description": "Fetch availability Data",
        "operationId": "getAvailability",
        "parameters": [
          {
            "name": "registrationCenterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainResponseDTOAvailabilityDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CancelBookingResponseDTO": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ExceptionJSONInfoDTO": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "MainResponseDTOCancelBookingResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/CancelBookingResponseDTO"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "MainRequestDTOMultiBookingRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "requesttime": {
            "type": "string",
            "format": "date-time"
          },
          "request": {
            "$ref": "#/components/schemas/MultiBookingRequest"
          }
        }
      },
      "MultiBookingRequest": {
        "type": "object",
        "properties": {
          "bookingRequest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiBookingRequestDTO"
            }
          }
        }
      },
      "MultiBookingRequestDTO": {
        "type": "object",
        "properties": {
          "preRegistrationId": {
            "type": "string"
          },
          "registration_center_id": {
            "type": "string"
          },
          "appointment_date": {
            "type": "string"
          },
          "time_slot_from": {
            "type": "string"
          },
          "time_slot_to": {
            "type": "string"
          }
        }
      },
      "BookingStatus": {
        "type": "object",
        "properties": {
          "bookingStatusResponse": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingStatusDTO"
            }
          }
        }
      },
      "BookingStatusDTO": {
        "type": "object",
        "properties": {
          "bookingMessage": {
            "type": "string"
          }
        }
      },
      "MainResponseDTOBookingStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/BookingStatus"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "DeleteBookingDTO": {
        "type": "object",
        "properties": {
          "preRegistrationId": {
            "type": "string"
          },
          "deletedBy": {
            "type": "string"
          },
          "deletedDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MainResponseDTODeleteBookingDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/DeleteBookingDTO"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "BookingRequestDTO": {
        "type": "object",
        "properties": {
          "registration_center_id": {
            "type": "string"
          },
          "appointment_date": {
            "type": "string"
          },
          "time_slot_from": {
            "type": "string"
          },
          "time_slot_to": {
            "type": "string"
          }
        }
      },
      "MainRequestDTOBookingRequestDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "requesttime": {
            "type": "string",
            "format": "date-time"
          },
          "request": {
            "$ref": "#/components/schemas/BookingRequestDTO"
          }
        }
      },
      "MainResponseDTOBookingStatusDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/BookingStatusDTO"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "BookingRegistrationDTO": {
        "type": "object",
        "properties": {
          "registration_center_id": {
            "type": "string"
          },
          "appointment_date": {
            "type": "string"
          },
          "time_slot_from": {
            "type": "string"
          },
          "time_slot_to": {
            "type": "string"
          }
        }
      },
      "MainResponseDTOBookingRegistrationDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/BookingRegistrationDTO"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "BookingDataByRegIdDto": {
        "type": "object",
        "properties": {
          "registrationCenterId": {
            "type": "string"
          },
          "idsWithAppointmentDate": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/components/schemas/SlotTimeDto"
              }
            }
          }
        }
      },
      "LocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MainResponseDTOBookingDataByRegIdDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/BookingDataByRegIdDto"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "SlotTimeDto": {
        "type": "object",
        "properties": {
          "fromTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "toTime": {
            "$ref": "#/components/schemas/LocalTime"
          }
        }
      },
      "MainResponseDTOPreRegIdsByRegCenterIdResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/PreRegIdsByRegCenterIdResponseDTO"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "PreRegIdsByRegCenterIdResponseDTO": {
        "type": "object",
        "properties": {
          "registration_center_id": {
            "type": "string"
          },
          "pre_registration_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AvailabilityDto": {
        "type": "object",
        "properties": {
          "regCenterId": {
            "type": "string"
          },
          "centerDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DateTimeDto"
            }
          }
        }
      },
      "DateTimeDto": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "timeSlots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SlotDto"
            }
          },
          "holiday": {
            "type": "boolean"
          }
        }
      },
      "MainResponseDTOAvailabilityDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/AvailabilityDto"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionJSONInfoDTO"
            }
          }
        }
      },
      "SlotDto": {
        "type": "object",
        "properties": {
          "fromTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "toTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "availability": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    }
  }
}