{
  "openapi": "3.0.1",
  "info": {
    "title": "Registration Transaction Service API documentation",
    "description": "Registration Transaction Service API documentation",
    "license": {
      "name": "Mosip",
      "url": "https://docs.mosip.io/platform/license"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://dev2.mosip.net/registrationprocessor/v1/registrationtransaction",
      "description": "Registration Processor URL"
    }
  ],
  "tags": [
    {
      "name": "Registration Status",
      "description": "Registration Transaction Controller"
    }
  ],
  "paths": {
    "/search/{rid}": {
      "get": {
        "tags": [
          "Registration Status"
        ],
        "summary": "Get the transaction entity/entities",
        "description": "Get the transaction entity/entities",
        "operationId": "getTransactionsbyRid",
        "parameters": [
          {
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction Entity/Entities successfully fetched",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegTransactionResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Unable to fetch Transaction Entity/Entities"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorDTO": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "RegTransactionResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string"
          },
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegistrationTransactionDto"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDTO"
            }
          }
        }
      },
      "RegistrationTransactionDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "registrationId": {
            "type": "string"
          },
          "transactionTypeCode": {
            "type": "string"
          },
          "parentTransactionId": {
            "type": "string"
          },
          "statusCode": {
            "type": "string"
          },
          "subStatusCode": {
            "type": "string"
          },
          "statusComment": {
            "type": "string"
          },
          "createdDateTimes": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}