{
  "openapi": "3.0.1",
  "info": {
    "title": "Id Repo Vid Service",
    "description": "Id Repo Vid Service",
    "license": {
      "name": "Mosip",
      "url": "https://docs.mosip.io/platform/license"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://dev2.mosip.net/idrepository/v1",
      "description": "Id Repo Vid Service"
    }
  ],
  "tags": [
    {
      "name": "vid-controller",
      "description": "Vid Controller"
    }
  ],
  "paths": {
    "/vid": {
      "post": {
        "tags": [
          "vid-controller"
        ],
        "summary": "createVid",
        "description": "createVid",
        "operationId": "createVid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperVidRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperVidResponseDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/vid/{VID}": {
      "get": {
        "tags": [
          "vid-controller"
        ],
        "summary": "retrieveUinByVid",
        "description": "retrieveUinByVid",
        "operationId": "retrieveUinByVid",
        "parameters": [
          {
            "name": "VID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperVidResponseDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "vid-controller"
        ],
        "summary": "updateVidStatus",
        "description": "updateVidStatus",
        "operationId": "updateVidStatus",
        "parameters": [
          {
            "name": "VID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperVidRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperVidResponseDTO"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vid/{VID}/regenerate": {
      "post": {
        "tags": [
          "vid-controller"
        ],
        "summary": "regenerateVid",
        "description": "regenerateVid",
        "operationId": "regenerateVid",
        "parameters": [
          {
            "name": "VID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperVidResponseDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/vid/uin/{UIN}": {
      "get": {
        "tags": [
          "vid-controller"
        ],
        "summary": "retrieveVidsByUin",
        "description": "retrieveVidsByUin",
        "operationId": "retrieveVidsByUin",
        "parameters": [
          {
            "name": "UIN",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListVidInfoDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/vid/reactivate": {
      "post": {
        "tags": [
          "vid-controller"
        ],
        "summary": "reactivateVIDsForUIN",
        "description": "reactivateVIDsForUIN",
        "operationId": "reactivateVIDsForUIN",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperVidRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperVidResponseDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/vid/deactivate": {
      "post": {
        "tags": [
          "vid-controller"
        ],
        "summary": "deactivateVIDsForUIN",
        "description": "deactivateVIDsForUIN",
        "operationId": "deactivateVIDsForUIN",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperVidRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperVidResponseDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/draft/vid": {
      "post": {
        "tags": [
          "vid-controller"
        ],
        "summary": "createDraftVid",
        "description": "createDraftVid",
        "operationId": "createDraftVid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestWrapperVidRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperVidResponseDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RequestWrapperVidRequestDTO": {
        "required": [
          "request"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "requesttime": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          },
          "request": {
            "$ref": "#/components/schemas/VidRequestDTO"
          }
        }
      },
      "VidRequestDTO": {
        "type": "object",
        "properties": {
          "vidStatus": {
            "type": "string"
          },
          "vidType": {
            "type": "string"
          },
          "UIN": {
            "type": "string"
          }
        }
      },
      "ResponseWrapperVidResponseDTO": {
        "required": [
          "response"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          },
          "response": {
            "$ref": "#/components/schemas/VidResponseDTO"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          }
        }
      },
      "ServiceError": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "VidResponseDTO": {
        "type": "object",
        "properties": {
          "vidStatus": {
            "type": "string"
          },
          "restoredVid": {
            "$ref": "#/components/schemas/VidResponseDTO"
          },
          "UIN": {
            "type": "string"
          },
          "VID": {
            "type": "string"
          }
        }
      },
      "ResponseWrapperListVidInfoDTO": {
        "required": [
          "response"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "responsetime": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          },
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VidInfoDTO"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          }
        }
      },
      "VidInfoDTO": {
        "type": "object",
        "properties": {
          "vid": {
            "type": "string"
          },
          "vidType": {
            "type": "string"
          },
          "expiryTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "transactionLimit": {
            "type": "integer",
            "format": "int32"
          },
          "hashAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}